service: cfpat-audit-v7

provider:
  name: aws
  runtime: nodejs6.10
  timeout: 300
  region: us-east-1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:PutObject
      Resource:
        - arn:aws:s3:::${env:AUDIT_BUCKET}/*

package:
 include:
   - lib/**

functions:
  audit:
    handler: handler.run
    events:
      - schedule: rate(1 day)
    environment:
      GITHUB_ACCESS_TOKEN: ${env:GITHUB_ACCESS_TOKEN}
      AUDIT_BUCKET: ${env:AUDIT_BUCKET}
