service: cfpat-audit-v5

provider:
  name: aws
  runtime: nodejs6.10
  timeout: 300
  region: us-east-1

package:
 include:
   - lib/**

functions:
  audit:
    handler: handler.run
    environment:
      GITHUB_ACCESS_TOKEN: ${env:GITHUB_ACCESS_TOKEN}
